body {
  max-width: 42rem;
  margin: 3rem auto;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: #eaeaea;
  }

  a {
    color: #8ab4f8;
  }

  li {
    margin-bottom: 1rem;
  }

  .gif {
    width: 100%;
    max-width: 720px; /* controls desktop size */
    aspect-ratio: 16 / 9; /* widescreen feel */
    object-fit: cover;
    display: block;
    margin: 0.5rem 0 2rem 0;
  }
}
